$bg-light-gray: #f4f3ee;
$gray: #2B2B2B;

// YELLOWS
$light-yellow: #fef6a5;
$yellow: #FFC837;
$dark-yellow: #E6A700;

// GREENS
$light-green: #85A224;
$green: #697F1C;
$dark-green: #576A17;

$white: #FFFFFF;
